*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

:root{
  --dark-color:#333;
  --primary-color:#000012;
  --secondary-color:#222298;
}

body{
  background:url('https://doeren.com/wp-content/uploads/2019/06/TDR-Accounting-Overview-CECL-Considerations.jpg') no-repeat center center/cover;
  font-family: 'menlo', Courier, sans-serif;
  font-weight: bold;
  font-size: 20px;
  position: relative;
  padding:20px 0;
}

html:before{
 content: '';
 position: absolute;
 top:0;
 left: 0;
 bottom: 0;
 right: 0;
 background: rgba(0,0,0,0.3);
}

a{
  color: #fff;
  text-decoration: none;
}

.calc{
  background: var(--dark-color);
  display: flex;
  flex-direction: column;
  padding: 10px;
  max-width: 450px;
  width: 75%;
  margin:  auto;
  border: #222 solid 5px;
  border-radius: 10px;
  box-shadow:  0 0 5px 2px #000;
  height: fit-content;
  position: relative;
  z-index: 1;
  font-size: 20px;
  }

  .values{
    height: 25%;
    width: 100%;
    background: #000;
    color: #fff;
    font-size: 40px;
    margin-bottom: 15px;
    border: 5px solid var(--primary-color);
    border-radius: 10px;
  }

  .value{
    display: block;
    width: 100%;
    text-align: right;
    background: #000;
    color: #bbb;
    padding: 10px 20px;
    font-size: 25px;
    border: none;
    border-radius: 10px;
    height: 50%;
  }

  .value:focus{
    outline: none;
  }

  .value::-webkit-input-placeholder{
    color:#fff
  }

  .output-pre.value{
    font-size: 35px;
    color: #fff;
  }

  .buttons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    background: #000;
    overflow: hidden;
    grid-gap:5px;
    width: 100%;
    height: 100%;
    padding-top: 5px;
    border: 5px solid var(--primary-color);
    border-radius: 10px;
  }

  .btn{
    background: #000;
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0%;
    align-items: center;
    justify-content: center;
    justify-self: center;
    transition: all .2s ease-in-out;
  }
 
  .btn-operation i{
    background: #111;
  }

  .btn > *{
    border-radius: 50%;
    height: 60px; 
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    transition: all .2s ease-in-out;
  }
  
  .btn span{
    display: none;
  }

  .btn-complex{
    font-size: 23px;  
  }
  
  .btn #span{
    display: flex;
  }

  .btn-switch span{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 18px;
    transform: rotate(135deg);
    transition: all .2s ease-in-out;
  }
  
  .btn-small{
    font-size: 5px;
  }
  
  .btn-danger i{
    background: red; 
  }
  
  .btn:active i{
    background: #999;
  }
  
  .btn-switch:active span i { 
    background: #000;
    margin: 0 2px 0 2px;
  }

  .calc.spin{
    animation: spin .5s forwards ease-out;
  }

  .calc.non-spin{
    animation:non-spin .5s forwards ease-out;
  }

  .calc.spin .buttons,
  .calc.non-spin .buttons{
    animation:view .5s forwards ease;
  }
  @keyframes spin {
    0% {
      transform: translateY(0) rotateY(0deg);
    }
    50% {
      transform: translateY(-15%) rotateY(180deg);
    }
    100%{
      transform: translate(0) rotateY(360deg);
    }
  }

  @keyframes non-spin {
    0% {
      transform: translateY(0) rotateY(0deg);
    }
    50% {
      transform: translateY(-15%) rotateY(-180deg);
    }
    100%{
      transform: translate(0) rotateY(0deg);
    }
  }

  @keyframes view {
    0% {
      display: invisible;
    }
    100% {
      display:grid;
    }
  }

  .btn-complex{
    display: none;
  }

  .btn-show{
    display: flex;
  }

  .btn-complex sup{
    font-size: 12px;
    transform: translateY(-50%);
  }

  #footer{
    background: #000;
    height: 100px;
    color: #fff;
    position: fixed;
    text-align: center;
    padding:10px 5px;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  #footer .social a{
    margin-right: 5px;
  }

  @media(max-width:500px){

    #footer{
      flex-direction: column;
    }
    .social{
      margin-bottom: 10px;
    }
  }
